/* WooCommerce Product Tabs
---------------------------------------------------------------------------------------------------- */

.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-color: $base-border-color;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: $light;
  border-radius: 0;
  padding: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: $black;
  padding: 0.5em 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
  color: $red;
}

/* Two Sidebar Layouts */
.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding: 0;
}

.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
  display: block;
  margin: 0;
}

.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  display: block;
}

.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: $global-background;
  border-bottom: 0;
}

.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child {
  border-bottom: 1px solid #eee;
}

.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  border-bottom-color: #eee;
}

.content-sidebar-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after,
.sidebar-content-sidebar.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after,
.sidebar-sidebar-content.woocommerce div.product .woocommerce-tabs ul.tabs li.active a::after {
  content: "\f147";
  float: right;
  font-family: "dashicons";
}