/* WooCommerce Shop Page
---------------------------------------------------------------------------------------------------- */

.woocommerce .content .entry {
  border-bottom: 0;
}

.woocommerce a.added_to_cart {
  line-height: 1;
}

.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after,
.woocommerce #respond input#submit.loading::after {
  top: 1em;
}

.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product .price .from {
  color: $black;
}

.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product .price {
  color: $red;
}

/* MS Edge Bug Fix */
.woocommerce ul.products li.product a {
  -webkit-transition: color 0.1s ease-in-out, background 0.1s ease-in-out;
  -ms-transition:     color 0.1s ease-in-out, background 0.1s ease-in-out;
  transition:         color 0.1s ease-in-out, background 0.1s ease-in-out;
}
