
.woocommerce {
  .content {
    background: $global-background;
    @include susy-media($tablet) {
      padding: 40px;
    }
  }
  .products {
    .entry {
      padding: 10px;
      @include susy-media($tablet) {
        @include gallery(4 of 12);
      }
      @include susy-media($desktop) {
        @include gallery(3 of 12);
      }
    }
  }
}
