//
// Component: Button
//
// ========================================================================


// Variables
// ========================================================================

$button-border-width: 2px;

$button-line-height:                             $global-control-height - ($button-border-width * 2) !default;
$button-small-line-height:                       $global-control-small-height - ($button-border-width * 2) !default;
$button-large-line-height:                       $global-control-large-height - ($button-border-width * 2) !default;

$button-font-size:                               $global-small-font-size !default;
$button-large-font-size:                         $global-small-font-size !default;

$button-default-background:                      transparent !default;
$button-default-hover-background:                transparent !default;
$button-default-active-background:               transparent !default;

$button-disabled-background:                     transparent !default;

$button-text-color:                              $global-color!default;
$button-text-hover-color:                        $global-color  ;





//
// New
//

$button-text-transform:                          uppercase !default;


$button-default-border:                          $black;
$button-default-hover-border:                    darken($global-border, 20%) !default;
$button-default-active-border:                   darken($global-border, 30%) !default;

$button-disabled-border:                         $global-border !default;

$button-text-border:                             $black;


// Component
// ========================================================================


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  @extend .uk-button;
  @extend .uk-button-default;
  
}





// Inverse
// ========================================================================

$inverse-button-default-background:             transparent !default;
$inverse-button-default-color:                  $inverse-global-emphasis-color !default;
$inverse-button-default-hover-background:       transparent !default;
$inverse-button-default-hover-color:            $inverse-global-emphasis-color !default;
$inverse-button-default-active-background:      transparent !default;
$inverse-button-default-active-color:           $inverse-global-emphasis-color !default;

$inverse-button-text-color:                     $inverse-global-emphasis-color !default;
$inverse-button-text-hover-color:               $inverse-global-emphasis-color !default;

//
// Hooks
//

 @mixin hook-button(){
  font-size: rem(11);
   font-weight:bold;
   text-transform: uppercase;
   letter-spacing: 1px;
   border:$button-border-width solid $black ;
 }
// @mixin hook-button-hover(){}
// @mixin hook-button-focus(){}
// @mixin hook-button-active(){}
// @mixin hook-button-default(){}
// @mixin hook-button-default-hover(){}
// @mixin hook-button-default-active(){}
// @mixin hook-button-primary(){}
// @mixin hook-button-primary-hover(){}
// @mixin hook-button-primary-active(){}
// @mixin hook-button-secondary(){}
// @mixin hook-button-secondary-hover(){}
// @mixin hook-button-secondary-active(){}
// @mixin hook-button-danger(){}
// @mixin hook-button-danger-hover(){}
// @mixin hook-button-danger-active(){}
// @mixin hook-button-disabled(){}
// @mixin hook-button-small(){}
// @mixin hook-button-large(){}
// @mixin hook-button-text(){}
// @mixin hook-button-text-hover(){}
// @mixin hook-button-text-disabled(){}
// @mixin hook-button-link(){}
// @mixin hook-button-misc(){}




