//
// Component: Form Range
//
// ========================================================================

$form-range-thumb-height:                        15px !default;
$form-range-thumb-border-radius:                 500px !default;
$form-range-thumb-background:                    $global-background !default;

$form-range-track-height:                        3px !default;
$form-range-track-background:                    darken($global-muted-background, 5%) !default;
$form-range-track-focus-background:              darken($global-muted-background, 15%) !default;

$form-range-thumb-border-width:                  $global-border-width !default;
$form-range-thumb-border:                        darken($global-border, 10%) !default;

$form-range-track-border-radius:                 500px !default;


// @mixin hook-form-range(){}


// Thumb
// ========================================================================




// Track
// ========================================================================



// @mixin hook-form-range-track-focus(){}


// Miscellaneous
// ========================================================================

// @mixin hook-form-range-misc(){}