//
// Component: Heading
//
// ========================================================================

$heading-primary-font-size:                      $global-xxlarge-font-size ;
$heading-primary-line-height:                    1.2;

$heading-primary-font-size-m:                    3.75rem ; // 54px
$heading-primary-line-height-m:                  1.1 ;

$heading-hero-font-size:                         4rem ; // 64px
$heading-hero-line-height:                       1.1 ;

$heading-hero-font-size-s:                       6rem ; // 96px
$heading-hero-line-height-s:                     1 ;

$heading-hero-font-size-m:                       8rem ; // 128px
$heading-hero-line-height-m:                     1 ;

$heading-divider-padding-bottom:                 10px ;
$heading-divider-border-width:                   $global-border-width ;
$heading-divider-border:                         $global-border ;

$heading-bullet-top:                             unquote('calc(-0.1 * 1em)') ;
$heading-bullet-height:                          0.9em ;
$heading-bullet-margin-right:                    10px ;
$heading-bullet-border-width:                    5px ;
$heading-bullet-border:                          $global-border ;

$heading-line-border-width:                      $global-border-width ;
$heading-line-border:                            $global-border ;
$heading-line-height:                            $heading-line-border-width ;
$heading-line-margin-horizontal:                 0.6em ;



// Primary
// ========================================================================

// @mixin hook-heading-primary(){}


// Hero
// ========================================================================

// @mixin hook-heading-hero(){}


// Divider
// ========================================================================

// @mixin hook-heading-divider(){}


// Bullet
// ========================================================================

// @mixin hook-heading-bullet(){}


// Line
// ========================================================================

// @mixin hook-heading-bullet(){}



// Miscellaneous
// ========================================================================

// @mixin hook-heading-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-heading-primary(){}

// @mixin hook-inverse-heading-hero(){}

// @mixin hook-inverse-heading-divider(){}

// @mixin hook-inverse-heading-bullet(){}

// @mixin hook-inverse-heading-line(){}
