//
// Component: Icon
//
// ========================================================================

$icon-image-size:                                20px !default;

$icon-link-color:                                $global-muted-color !default;
$icon-link-hover-color:                          $global-color !default;
$icon-link-active-color:                         darken($global-color, 5%) !default;

$icon-button-size:                               36px !default;
$icon-button-border-radius:                      500px !default;
$icon-button-background:                         $global-muted-background !default;
$icon-button-color:                              $global-muted-color !default;

$icon-button-hover-background:                   darken($icon-button-background, 5%) !default;
$icon-button-hover-color:                        $global-color !default;

$icon-button-active-background:                  darken($icon-button-background, 10%) !default;
$icon-button-active-color:                       $global-color !default;



// Style modifiers
// ========================================================================

//
// Link
//

// @mixin hook-icon-link(){}

// @mixin hook-icon-link-hover(){}

// @mixin hook-icon-link-active(){}

//
// Button
//



// @mixin hook-icon-button-hover(){}

// @mixin hook-icon-button-active(){}


// Miscellaneous
// ========================================================================

// @mixin hook-icon-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-icon-link(){}
// @mixin hook-inverse-icon-link-hover(){}
// @mixin hook-inverse-icon-link-active(){}

// @mixin hook-inverse-icon-button(){}
// @mixin hook-inverse-icon-button-hover(){}
// @mixin hook-inverse-icon-button-active(){}