//
// Component: List
//
// ========================================================================

$list-margin-top:                                $global-small-margin !default;

$list-nested-padding-left:                       $global-gutter !default;

$list-divider-margin-top:                        $global-small-margin !default;
$list-divider-border-width:                      $global-border-width !default;
$list-divider-border:                            $global-border !default;

$list-striped-padding-vertical:                  $global-small-margin !default;
$list-striped-padding-horizontal:                $global-small-margin !default;
$list-striped-background:                        $global-muted-background !default;

$list-bullet-width:                              ($global-line-height * 1em) !default;
$list-bullet-height:                             $list-bullet-width !default;
$list-bullet-margin-right:                       $global-small-margin !default;
$list-bullet-icon-color:                         $global-color !default;

$list-large-margin-top:                          $global-margin !default;
$list-large-divider-margin-top:                  $global-margin !default;
$list-large-striped-padding-vertical:            $global-margin !default;
$list-large-striped-padding-horizontal:          $global-small-margin !default;

$internal-list-bullet-image: "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22#000%22%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%3E%3C%2Fcircle%3E%0A%3C%2Fsvg%3E" !default;
//
// New
//

$list-striped-border-width:                      $global-border-width !default;
$list-striped-border:                            $global-border !default;

// Style modifiers
// ========================================================================

// @mixin hook-list-divider(){}



// @mixin hook-list-bullet(){}


// Miscellaneous
// ========================================================================

// @mixin hook-list-misc(){}


// Inverse
// ========================================================================

// @mixin hook-inverse-list-divider(){}

// @mixin hook-inverse-list-bullet(){}