//
// Device Screen Sizes
//==========================

$mobile-small: 320px;
$mobile: 480px;
$tablet-portrait: 860px;
$tablet-landscape: 1023px;
$desktop: 1200px;
$desktop-larger: 1340px;
$desktop-huge: 1600px;
