/* ## Forms
--------------------------------------------- */

input,
select,
textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid $base-border-color;
  color: $dark-gray;
  background-color: $white;
  font-size: 18px;
  font-weight: 300;
}

input:focus,
textarea:focus {
  border: 1px solid $medium-gray;
  outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  opacity: 1;
  color: $dark-gray;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: $dark-gray;
  font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  width: auto;
  padding: 16px 24px;
  border: none;
  color: $white;
  background-color: $dark-gray;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
  color: $white;
  background-color: $base-accent-color;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  color: $white;
  background-color: $base-accent-color;
}

.entry-content .button:hover {
  color: $white;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
  color: $dark-gray;
  background-color: $white;
}

.button {
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

/* ## Search Form
--------------------------------------------- */

.search-form {
  overflow: hidden;
}

.site-header .search-form {
  float: right;
  margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
  width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  clip: rect(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}