/* ## Typographical Elements
--------------------------------------------- */


a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  @include transition(all 0.4s ease-in-out);
}

::-moz-selection {
  color: $white;
  background-color: $dark-gray;
}

::selection {
  color: $white;
  background-color: $dark-gray;
}

a {
  @include transition(color 0.4s ease-in-out);

  color: $base-link-color;
  text-decoration: none;
  &:hover {
    color: $base-link-hover-color;
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
    color: $base-link-hover-color;
  }
}

hr {
  margin: $base-body-line-height 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $global-border;
  border-left: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;

}

blockquote::before {
  display: block;
  position: relative;
  top: -10px;
  left: -20px;
  height: 0;
  font-size: 30px;
  content: "\201C";
}


/* ## Titles
--------------------------------------------- */

.archive-title {
  font-size: rem(20);
}

.entry-title {
  font-size: rem(36);
}

.entry-title a,
.sidebar .widget-title a {
  color: $base-link-color;
}

.entry-title a:hover {
  color: $base-link-hover-color;
}

.widget-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-widgets .widget-title {
  color: $white;
}