/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $max-width;

  @include media( $bp-larger ) {
    max-width: $max-width-larger-screen;
  }
   @include media( $bp-large ) {
    max-width: $max-width-large-screen;
  }

   @include media( $bp-medium ) {
    max-width: $max-width-medium-screen;
  }
}

.site-inner {
  clear: both;
  padding-top: 40px;
  word-wrap: break-word;

   @include media( $bp-small ) {
    padding: 5% 5% 0;
  }
}

 @include media( $bp-small ) {
  .wrap {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.landing-page .site-inner {
  max-width: $max-width-landing-page;
}