/* # Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
  font-size: 16px;
}

.sidebar li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted $base-border-color;
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
  margin-bottom: 0;
}

.sidebar .widget {
  @include min-screen($tablet) {
    padding: 40px;
  }

  margin-bottom: 40px;
  background-color: $white;
}

.sidebar .widget.enews-widget {
  @include max-screen($tablet) {
    padding: 40px;
  }
}
