/* ## Titles
--------------------------------------------- */

.archive-title {
  font-size: rem(20);
}

.entry-title {
  font-size: rem(36);
}



.entry-title a:hover {
  color: $base-link-hover-color;
}

.widget-title {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-widgets .widget-title {
  color: $white;
}